@font-face {
	font-family: "hy-icons";
	src: url('../fonts/hy-icons.eot');
	src: url('../fonts/hy-icons.eot?#iefix') format('eot'),
		url('../fonts/hy-icons.woff') format('woff'),
		url('../fonts/hy-icons.ttf') format('truetype'),
		url('../fonts/hy-icons.svg#hy-icons') format('svg');
}

.icon:before {
	font-family: "hy-icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-hy-add-to-todo-list:before {
	content: "\E001";
}

.icon-hy-arrow-up:before {
	content: "\E002";
}

.icon-hy-arrow:before {
	content: "\E003";
}

.icon-hy-avatar-group:before {
	content: "\E004";
}

.icon-hy-avatar:before {
	content: "\E005";
}

.icon-hy-bachelor:before {
	content: "\E006";
}

.icon-hy-camera:before {
	content: "\E007";
}

.icon-hy-chat:before {
	content: "\E008";
}

.icon-hy-date:before {
	content: "\E009";
}

.icon-hy-discover:before {
	content: "\E00A";
}

.icon-hy-done:before {
	content: "\E00B";
}

.icon-hy-download:before {
	content: "\E00C";
}

.icon-hy-drag:before {
	content: "\E00D";
}

.icon-hy-drop-down:before {
	content: "\E00E";
}

.icon-hy-edit-event:before {
	content: "\E00F";
}

.icon-hy-edit:before {
	content: "\E010";
}

.icon-hy-events:before {
	content: "\E011";
}

.icon-hy-facebook:before {
	content: "\E012";
}

.icon-hy-favorites:before {
	content: "\E013";
}

.icon-hy-grid:before {
	content: "\E014";
}

.icon-hy-hamburger:before {
	content: "\E015";
}

.icon-hy-home:before {
	content: "\E016";
}

.icon-hy-info:before {
	content: "\E017";
}

.icon-hy-link-arrow-offsite:before {
	content: "\E018";
}

.icon-hy-link-arrow:before {
	content: "\E019";
}

.icon-hy-linkedin:before {
	content: "\E01A";
}

.icon-hy-list:before {
	content: "\E01B";
}

.icon-hy-location:before {
	content: "\E01C";
}

.icon-hy-log:before {
	content: "\E01D";
}

.icon-hy-logo:before {
	content: "\E01E";
}

.icon-hy-magnify-minus:before {
	content: "\E01F";
}

.icon-hy-magnify-plus:before {
	content: "\E020";
}

.icon-hy-master:before {
	content: "\E021";
}

.icon-hy-minus:before {
	content: "\E022";
}

.icon-hy-modify:before {
	content: "\E023";
}

.icon-hy-navi-triangle:before {
	content: "\E024";
}

.icon-hy-new-group:before {
	content: "\E025";
}

.icon-hy-new-person:before {
	content: "\E026";
}

.icon-hy-notification:before {
	content: "\E027";
}

.icon-hy-opinder-logo-new:before {
	content: "\E028";
}

.icon-hy-opinder-logo:before {
	content: "\E029";
}

.icon-hy-pdf:before {
	content: "\E02A";
}

.icon-hy-people:before {
	content: "\E02B";
}

.icon-hy-person-outline:before {
	content: "\E02C";
}

.icon-hy-person:before {
	content: "\E02D";
}

.icon-hy-plus:before {
	content: "\E02E";
}

.icon-hy-profile:before {
	content: "\E02F";
}

.icon-hy-question:before {
	content: "\E030";
}

.icon-hy-remove:before {
	content: "\E031";
}

.icon-hy-search:before {
	content: "\E032";
}

.icon-hy-time:before {
	content: "\E033";
}

.icon-hy-todo-list:before {
	content: "\E034";
}

.icon-hy-tour:before {
	content: "\E035";
}

.icon-hy-twitter:before {
	content: "\E036";
}

.icon-hy-units-and-faculties:before {
	content: "\E037";
}

.icon-hy-video:before {
	content: "\E038";
}

.icon-hy-warning:before {
	content: "\E039";
}

.icon-hy-you-tube:before {
	content: "\E03A";
}
