@font-face {
    font-family: 'hy-icons';
    src: url('../fonts/hy-icons_3.0.3.eot');
    src: url('../fonts/hy-icons_3.0.3.eot?#iefix') format('eot'), url('../fonts/hy-icons_3.0.3.woff') format('woff'), url('../fonts/hy-icons_3.0.3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.hy:before {
                     display: inline-block;
                     font-family: "hy-icons";
                     font-style: normal;
                     font-weight: normal;
                     line-height: 1;
                     -webkit-font-smoothing: antialiased;
                     -moz-osx-font-smoothing: grayscale;
                 }

.hy-lg {
                     font-size: 1.3333333333333333em;
                     line-height: 0.75em;
                     vertical-align: -15%;
                 }
.hy-2x { font-size: 2em; }
.hy-3x { font-size: 3em; }
.hy-4x { font-size: 4em; }
.hy-5x { font-size: 5em; }
.hy-fw {
                     width: 1.2857142857142858em;
                     text-align: center;
                 }

.hy-add-to-todo-list:before { content: "\EA01" }
.hy-arrow-up:before { content: "\EA02" }
.hy-arrow:before { content: "\EA03" }
.hy-avatar-group:before { content: "\EA04" }
.hy-avatar:before { content: "\EA05" }
.hy-bachelor:before { content: "\EA06" }
.hy-camera:before { content: "\EA07" }
.hy-chat:before { content: "\EA08" }
.hy-date:before { content: "\EA09" }
.hy-discover:before { content: "\EA0A" }
.hy-done:before { content: "\EA0B" }
.hy-download:before { content: "\EA0C" }
.hy-drag:before { content: "\EA0D" }
.hy-drop-down:before { content: "\EA0E" }
.hy-edit-event:before { content: "\EA0F" }
.hy-edit:before { content: "\EA10" }
.hy-events:before { content: "\EA11" }
.hy-facebook:before { content: "\EA12" }
.hy-favorites:before { content: "\EA13" }
.hy-grid:before { content: "\EA14" }
.hy-hamburger:before { content: "\EA15" }
.hy-home:before { content: "\EA16" }
.hy-info:before { content: "\EA17" }
.hy-link-arrow-offsite:before { content: "\EA18" }
.hy-link-arrow:before { content: "\EA19" }
.hy-linkedin:before { content: "\EA1A" }
.hy-list:before { content: "\EA1B" }
.hy-location:before { content: "\EA1C" }
.hy-log:before { content: "\EA1D" }
.hy-logo:before { content: "\EA1E" }
.hy-magnify-minus:before { content: "\EA1F" }
.hy-magnify-plus:before { content: "\EA20" }
.hy-master:before { content: "\EA21" }
.hy-minus:before { content: "\EA22" }
.hy-modify:before { content: "\EA23" }
.hy-navi-triangle:before { content: "\EA24" }
.hy-new-group:before { content: "\EA25" }
.hy-new-person:before { content: "\EA26" }
.hy-notification:before { content: "\EA27" }
.hy-opinder-logo-new:before { content: "\EA28" }
.hy-opinder-logo:before { content: "\EA29" }
.hy-pdf:before { content: "\EA2A" }
.hy-people:before { content: "\EA2B" }
.hy-person-outline:before { content: "\EA2C" }
.hy-person:before { content: "\EA2D" }
.hy-plus:before { content: "\EA2E" }
.hy-profile:before { content: "\EA2F" }
.hy-question:before { content: "\EA30" }
.hy-remove:before { content: "\EA31" }
.hy-search:before { content: "\EA32" }
.hy-time:before { content: "\EA33" }
.hy-todo-list:before { content: "\EA34" }
.hy-tour:before { content: "\EA35" }
.hy-twitter:before { content: "\EA36" }
.hy-units-and-faculties:before { content: "\EA37" }
.hy-video:before { content: "\EA38" }
.hy-warning:before { content: "\EA39" }
.hy-you-tube:before { content: "\EA3A" }
.hy-info-stroke:before { content: "\EA3B" }
.hy-logout:before { content: "\EA3C" }